[2016-06-09 14:41] ghost opened #1 "THANKS!"
Thanks for doing this, very important step! 💃

also can you make sure a License file is included? 👍

[2016-06-15 11:55] handelxh commented on #1
i can not get the oneplus android sdk by this CMD :  repo  init -u git://github.com/OnePlusOSS/android .git -b oneplus3/6.0.1

[2016-06-15 14:28] handelxh commented on #1
In  china , because of GWF ,repo can not work, so must follow this CMD :

`

[2016-06-23 16:06] regalstreak opened #2 "DashCharge Sources"
Any chance of DashCharge sources coming up here? @vincentwang0114 @leonfish77101

[2016-06-24 01:33] leonfish77101 commented on #2
Please wait until the end of July, we are working on it

[2016-07-05 12:58] handelxh opened #3 "can not compile!"
after repo sync   , can not   compile with  make -j4

[2016-07-06 01:14] leonfish77101 commented on #3
@handelxh , please show me the error

[2016-07-06 06:44] toffyjan commented on #3
Should I use msm_defconfig for compiling kernel or msm-perf_defconfig? I tried both but end up with wifi is not working. I also copied modules from lib and flashed.. but there is still problem with wifi.

Any idea's / suggestions ..Thanks

[2016-07-06 09:16] leonfish77101 commented on #3
@toffyjan

I think msm-perf_defconfig is good.
Check this code in AndroidBoard.mk:

ifeq ($(KERNEL_DEFCONFIG),)
ifeq ($(TARGET_BUILD_VARIANT),user)
KERNEL_DEFCONFIG := msm-perf_defconfig
else
KERNEL_DEFCONFIG := msm_defconfig
endif
endif

May be you missed wifi module which have to pulled from the device. You can check the script I uploaded in "android" repository named pull_library.sh for more de

[2016-07-13 00:30] theobch commented on #3
@leonfish77101 Hi :) !
Error with a fresh sync from this github: http://pastebin.com/qc4uTZKn
Any idea ?
Thanks !

[2016-07-15 11:26] handelxh commented on #3
![image](https://cloud.githubusercontent.com/assets/4266376/16872816/f38554de-4ac1-11e6-8658-e46601ca6394.png)
@leonfish77101

[2016-07-15 11:42] leonfish77101 commented on #3
@handelxh ime needs to pull from device. Did you execute the pull script?

[2016-07-15 11:46] leonfish77101 commented on #3
@theobch I haven’t seen this error before. In fact, tcmiface is built from vendor/qcom/opensource/dpm, and this is from Qualcomm

[2016-07-15 12:10] theobch commented on #3
@leonfish77101 So what should I do ? I execute the script (under OxygenOS 3.0.2) to pull blobs, so what can I do more  ?

[2016-07-16 01:23] leonfish77101 commented on #3
@theobch can you build this module from vendor/qcom/opensource/dpm ? Or make sure all codes are synced correctly.

[2016-07-18 02:32] handelxh commented on #3
@leonfish77101    after I  pull frome device  and copy this dir to  root of project . Still have error  like this:

[2016-07-18 02:34] handelxh commented on #3
@leonfish77101    after I  pull frome device  and copy this dir to  root of project . Still have error  like this:
![Uploading image.png…]()

[2016-07-18 02:34] handelxh commented on #3
make: **\* No rule to make target `out/target/common/obj/JAVA_LIBRARIES/tcmiface_intermediates/classes.jar', needed by`out/target/common/obj/JAVA_LIBRARIES/okhttp_intermediates/classes-full-debug.jar'.  Stop.
make: **\* Waiting for unfinished jobs....

[2016-07-18 09:53] leonfish77101 commented on #3
@handelxh As I said before, tcmiface doesn't need to pull from device, this module is built from vendor/qcom/opensource/dpm

[2016-07-21 05:06] andyt9527 commented on #3
make: **\* No rule to make target `vendor/oneplus/bin/ATFWD-daemon', needed by`out/target/product/msm8996/system/bin/ATFWD-daemon'.  Stop.

it seems that the pull script execution went wrong or I did not pull all that needed to bulled from device？
is that the problem with the su permission?

[2016-07-21 06:10] leonfish77101 commented on #3
@andytian1991 Before build, you should root your device first, because the pull script needs root permission to pull every blob we need

[2016-07-21 06:14] andyt9527 commented on #3
I have already rooted the device. and supersu installed

[2016-07-21 06:16] andyt9527 commented on #3
when executing the .sh,some log like below appears
remote object '/system/bin/ATFWD-daemon' does not exist
remote object '/system/bin/athdiag' does not exist

[2016-07-21 06:23] leonfish77101 commented on #3
@andytian1991 what strings will be printed when execute this command
adb shell ls -l /system/bin/ATFWD-daemon

[2016-07-21 06:35] andyt9527 commented on #3
It seems that I have figured it out by:
1.change the seLinux stauts :  $adb shell su to setenforce permissive
2.install the adbd insecure v2.0.apk and enable insecure adbd
and then I execute the .sh ,there is no does not exist appears any more.

Now the outcome vendor folder contains 1,565 items, totalling 414.1 MB.

The strings printed by your last 'ls -l 'command is :
 $-rwxr-xr-x root     shell

[2016-07-21 06:41] andyt9527 commented on #3
Besides when I try to change the seLinux status,firstly I installed the seLinuxModeChange.apk  but the device informed me that my device is not rooted or i did not grand the apk the root permission.
I did not know what is wrong,  is my root operation is just kinda a fake root?

[2016-07-21 06:45] leonfish77101 commented on #3
@andytian1991 Sorry, I cannot give you any useful advices about how to root your device...

[2016-07-21 06:52] andytian1991 commented on #3
haha~, Got it .  Maybe I can work it around to find out the reason later.
PS: When the Hydrogen OS will get a update~? I an really a fan of the Hydrogen OS.

[2016-07-21 11:31] handelxh commented on #3
@leonfish77101  @andytian1991   i think it's not necessary to root device.  i just  adb pull this lib from device ,and cp /vendor/onelus/\*   to  root/venndor/oneluse/   .  compile android success.

[2016-07-22 01:11] andyt9527 commented on #3
@handelxh have you flash the images? Is there something wrong?

[2016-07-22 01:31] handelxh commented on #3
@andytian1991    not yet

[2016-07-26 02:09] BambooIV opened #4 "Ask for oneplus one"

[2016-07-26 02:51] #4 closed, assigned to nobody

[2016-07-28 12:05] leonfish77101 commented on #2
uploaded already

[2016-07-28 12:05] #2 closed, assigned to nobody

[2016-07-28 14:34] BambooIV commented on #3
@leonfish77101 will you guys release oneplus one manifests?

[2016-08-21 18:30] titusece opened #5 "Can I get the bootloader for the MSM896 ?"
Hi,
Can you please provide the link for getting the open source or any reference bootloader source code link for this platform ?
MSM8996 (Snapdragon 820)

Thanks for your support.

Regards,
Titus S.

[2016-08-23 06:02] leonfish77101 commented on #5
@titusece sorry, we have no plan to release bootloader codes

[2016-08-23 06:29] ashwinr64 opened #6 "Source Release for OnePlus X (onyx)"
I request you to release the kernel source code of onyx for marshamllow ASAP.

[2016-09-23 06:50] manfeel opened #7 "Could not read from remote repository"
...
Fetching projects:   0% (2/450)
Initializing project OnePlusOSS/android_art ...
fatal: '../OnePlusOSS/android_art.git' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
error: Cannot fetch OnePlusOSS/android_art

[2016-09-23 18:22] pwhelan opened #8 "Unable to compile kernel for OnePlus2 (msm8994)"
I am compiling for the OnePlus2, but I get several errors when compiling the kernel all related to undefined symbols. From what I can tell this is because it is using the default msm8994 kernel config and not the extra configs from msm8994-OnePlus2_defconfig file.

I followed the usual steps to compile (on Ubuntu 14.04):

[code]

My OnePlus2 was just recently purchased, is root and is running Oxyg

[2016-09-24 16:28] pwhelan commented on #8
Apparently some of the problems have been fixed by a sync. The current errors I receive:

[code]

[2016-09-30 12:14] leonfish77101 commented on #6
Oneplus X device tree has been uploaded, enjoy~

[2016-09-30 12:14] #6 closed, assigned to nobody

[2016-10-03 09:01] manfeel commented on #7
finally, I resovled this issue by editing .repo/manifests/default.xml
find   <remote fetch=".." name="oneplus" />
replace fetch=".." with fetch="https://github.com"

[2016-10-03 09:01] #7 closed, assigned to nobody

[2016-10-21 21:53] vyrus001 opened #9 "compile error"
phone successfully rooted. script to pull all requirements from the phone through ADB did not work due to being unable to run cmds as root on adb (my rooted oneplus-3 is still running the stock image and the stock image does not support ADB as root) so i modified it to copy all the required files to an area accessible by the default user and chmodded it to be accessible (which totally worked).

am

[2016-10-24 18:12] vyrus001 commented on #9
apperantlyso after reducing the number of make threads to one, I have identified the err that seems to be the origin of the build failure. Its a linker error with libart (which is apparently a problem child in some other android builds). The full error context is below.

[code]

[2016-10-25 00:00] vyrus001 commented on #9
I have solved my own problem, applying the fix documented here => http://review.cyanogenmod.org/#/c/120824/2/build/Android.common_build.mk allows the project to compile. The file in question resides within the oneplus source repo at art/build/Android.common_build.mk

[2016-10-25 00:00] #9 closed, assigned to nobody

[2016-11-08 06:24] beefsea opened #10 "unable to make 25. msm8996-userdebug"
make: *** No rule to make target 'vendor/oneplus/bin/ATFWD-daemon', needed by 'out/target/product/msm8996/system/bin/ATFWD-daemon'.  Stop.
make: *** Waiting for unfinished jobs....

[2016-11-08 09:25] leonfish77101 commented on #10
Did you execute the script pull_library.sh? Before execute it, the device has to be rooted

[2016-12-26 03:40] beefsea opened #12 "请问一下有N的源码吗？"
请问一下有N的源码吗？

[2017-05-22 06:25] eric0593 opened #13 "Snadraglauncher force close"
it need LauncherUnreadService apk in /system/app

[2017-05-24 16:04] sk22 opened #14 "Ambient display reappearing when downloading"
**Problem**

When doing stuff like downloading something, say, music from Google Play Music, Ambient display will light up all over until the update is done, since the percentage in the notification changed.

**Expected behavior**

It should light up once, then not again until the task has completed.

**Version**

Running ONEPLUS A3003_28_170411 on my OnePlus 3T.

[2017-06-01 07:43] 0x10000 opened #15 "ninja: error: 'vendor/oneplus/sbin/dashd'"
When I compile QC8996_N_7.1 branch got this message.
I can't find /sbin/dashd in my phone.
My OS version is OOS 4.1.3(7.1.1)

[2017-06-02 03:09] MegaLiu commented on #15
Hi 0x10000,

Could you follow the instruction written below the link to root the device and pull the necessary libraries from your device by executing the script pull_library.sh?
https://github.com/OnePlusOSS/android
 
Please remember to root your device first, otherwise permission will be denied when you try to access sbin folder. Thanks.

Regards,
David Liu

[2017-06-03 15:09] 0x10000 commented on #15
@MegaLiu
Yes,that's right.But when I copy the libs in root , also have some files missing.I'm not sure if it affects compilation.

cp: /system/bin/kernel-tests/smd_pkt_loopback_test: No such file or directory
cp: bad '/system/bin/kernel-tests/smd_pkt_loopback_test': No such file or directory
cp: /system/bin/kernel-tests/smd_tty_loopback_test: No such file or directory
cp: bad '/system/bin/kernel-t

[2017-06-21 15:48] rancidfrog opened #16 "Manifest has many repo that are not needed"
Foe example: taking a look at manifest for op5 - QC8998_N_7.1:
It includes vendors of other devices, too,
https://github.com/OnePlusOSS/android/blob/oneplus/QC8998_N_7.1/default.xml#L515#L522

default.xml should be updated with only repos necessary and used for building for device, to follow good practice.

[2017-07-12 10:14] rancidfrog opened #18 "Repo sync project very slow"
Following readme instructions:
[code]
repo sync is very slow compared to all other projects, i.e. aosp/custom roms, etc.
Also, it is sycing many tags that are not needed.

Is there a way to sync only neeeded tags/branches?

[2017-07-12 12:12] ghost commented on #18
Add --depth=1 to the end of the repo init command

[2017-07-13 06:36] rancidfrog commented on #18
Thank you,
after re-initing repo with --depth=1 and doing forall git clean and prune, now syncing is much quicker.

[2017-07-13 06:39] #18 closed, assigned to nobody

[2017-07-13 09:00] ghost commented on #18
You can also use --no-tags and --no-clone-bundle though I'm not really sure how these work

[2017-07-13 22:28] scn46 opened #19 "make otapackage"
should it be possible to build an otapackage ?

[2017-07-14 19:02] scn46 commented on #19
Strange cache error is generated

[2017-07-15 14:36] rancidfrog commented on #15
@MegaLiu There are many errors and some permission denied when running script: https://hastebin.com/ragebabojo.sql

Phone rooted
But, there is an error with pull script as it keeps giving error permission denied:
[code]
**Changes to pull_script.sh needed!**
Also,**` adb root`** does not work: `adbd cannot run as root in production builds`

[2017-07-15 14:47] ghost commented on #15
Adb root only works in engineering builds

[2017-07-15 15:13] rancidfrog commented on #15
@anupritaisno1 ???

Does not change anything. Seems like repos are not updated as many files` do not exist`,
and dashd needs some magic to copy.
I was able to do it with adb shell | su | copy to sdcard then copy it to pc.
But, still **_pull_script.sh_** needs to be updated: https://hastebin.com/ragebabojo.sql
@MegaLiu
**EDIT:** _Complete list of errors,_
[code]

[2017-07-15 19:10] rancidfrog commented on #15
@0x10000
You can copy all missing files manually. Either by using File explorer with Root capabilities (FX:https://forum.xda-developers.com/showthread.php?p=72988357)
Or, using
- `adb shell`
- `su`
- then `cp` each file from proper location to /sdcard

After copying the missing files manually from system using file explorer with root,
place them in correct folders under vendor/onplus

[2017-08-24 06:12] brunbennett opened #21 "Have an issue"
Issue

[2017-08-24 06:12] #21 closed, assigned to nobody

[2017-08-24 10:40] Luro02 commented on #19
When they would let us build an OTA Package then we could also use the Key to sign a Custom Rom and flash it over OOS Recovery....
(the Key that is used to sign the Package would be inside the Source)

[2017-08-29 12:24] ghost opened #22 "No license"
Hi.

There is no license information, so by default it is [proprietary software](https://www.gnu.org/proprietary/). Is it [free/libre software](https://www.fsf.org/blogs/rms/20140407-geneva-tedx-talk-free-software-free-society)? If yes, what is the license? If you do not know which one to choose, you may be interested by [comments of the FSF](https://www.gnu.org/licenses/license-list.html).

Regar

[2017-09-05 18:12] #1 closed, assigned to nobody

[2017-09-05 19:20] ItzLevvie commented on #22
It's based on GPLv2 license

[2017-09-05 22:15] ghost commented on #22
Ok, thanks. https://github.com/OnePlusOSS/android/pull/23

[2017-09-27 08:52] aaronqiuchiu commented on #12
Please below
https://github.com/OnePlusOSS/android_kernel_oneplus_msm8996

[2017-09-27 08:53] aaronqiuchiu commented on #12
https://github.com/OnePlusOSS/android_kernel_oneplus_msm8998
https://github.com/OnePlusOSS/android_kernel_oneplus_msm8996

[2017-09-27 08:53] #12 closed, assigned to nobody

[2017-09-30 06:02] shivamdev-lgtm commented on #8
That's apparently to be a linker error

[2017-10-27 12:53] joshchoo opened #24 "pull_library.sh missing files"
These files cannot be found on the device:

adb: error: failed to stat remote object '/system/lib64/hw/nfc_nci.pn54x.default.so': No such file or directory
adb: error: failed to stat remote object '/system/lib64/libnfc-nci.so': No such file or directory
adb: error: failed to stat remote object '/system/lib64/libnfc_nci_jni.so': No such file or directory
adb: error: failed to stat remote object '/s

[2017-10-27 12:58] joshchoo opened #25 "Missing module: libqc-skia"
error: external/skia/Android.bp:3:1: "libskia" depends on undefined module "libqc-skia"

[2017-10-27 13:48] joshchoo commented on #24
My guess is that we should import the following:

/system/lib64/libnqnfc-nci.so
/system/lib64/libnqnfc_nci_jni.so

and delete the other two blobs

[2017-10-27 14:12] desuvinodkumar commented on #24
Are you using OB16 or OBT17?

[2017-10-27 14:20] desuvinodkumar commented on #25
@joshuous , Sorry for inconvenience,  Pleas use these changes to build. Ihttps://github.com/OnePlusOSS/android_external_skia/commit/b5bb2d6cfb767598158d1e6a1124b3b18767fc69

[2017-10-27 14:40] joshchoo commented on #24
Thanks, I found the nfc_nci.pn54x.default.so in the latest OB.

It still seems that '/system/vendor/lib64/libloc2jnibridge.so' is not present

[2017-10-28 04:07] desuvinodkumar commented on #24
@joshuous libloc2jnibridge, Pls. ignore this error. Forgot to remove from the script. Thank you.

[2017-10-30 07:22] desuvinodkumar commented on #25
Updated the skia repo and Manifest. Verified Build and Boot. Thank you for reporting the error.

[2017-10-30 07:22] #25 closed, assigned to desuvinodkumar

[2017-10-30 07:22] desuvinodkumar commented on #24
removed libloc2jnibridge from script. Thank you

[2017-10-30 07:22] #24 closed, assigned to nobody

[2017-11-21 09:27] Varadapavani commented on #3
Hi ,
Iam getting this error in compiling Android7. please help me out from this.

ninja: Entering directory `.'
ninja: error: 'out/target/common/obj/JAVA_LIBRARIES/tcmiface_intermediates/classes.jar.toc', needed by 'out/target/common/obj/JAVA_LIBRARIES/okhttp_intermediates/classes-full-debug.jar', missing and no known rule to make it
make: *** [ninja_wrapper] Error 1

Thank you

[2017-11-27 08:47] ghost opened #27 "Project Treble"
We (the community) would like to ask Oneplus to support Project Treble in OOS. Petition link: http://chn.ge/2BaA6jY

[2017-11-27 08:48] ghost commented on #27
@leonfish77101

[2017-11-27 13:22] ghost commented on #27
Okay seriously this is just idiotic

Oneplus never promised you treble so why are you using change.org to force them?

I'll share this anti-petition here as well I guess
https://www.change.org/p/oneplus-oneplus-do-not-give-into-the-pressure

Stop this nonsense. You're just creating unrest in the community

[2017-11-27 20:33] IDisposable commented on #27
To _ask_ is not to _force_

[2017-11-27 20:38] ghost commented on #27
No you're just hiding "forcing" behind "asking"

This is forcing and definitely not asking

[2017-11-30 17:10] tangalbert919 commented on #27
@anupritaisno1 a petition is NOT to force anything. It is a written request signed by many people for a particular cause.

[2017-11-30 17:13] ghost commented on #27
And apparently this is quite the cause to support eh?

[2017-11-30 17:40] tangalbert919 commented on #27
This petition in question is to convince OnePlus to support Project Treble, which (in theory) is supposed to make upgrading Android less time-consuming.

There's more info about it [here](https://source.android.com/devices/architecture/treble). I prefer not to explain it or this comment becomes unnecessarily long.

[2017-11-30 17:43] ghost commented on #27
No this is really not necessary

Again you're just fighting because you want to fight

[2017-11-30 18:23] tangalbert919 commented on #27
I didn't even sign the petition. In fact, I'm not going to fight for it at all because OnePlus is already good at sending out major Android updates quickly.

Project Treble is still new, so we haven't seen the benefits entirely yet. The only instance of that actually working can only be found [here](https://www.xda-developers.com/how-project-treble-revolutionizes-custom-roms-android-oreo/).

[2017-11-30 18:41] IDisposable commented on #27
Don't feed the troll, he is never wrong.

[2017-11-30 18:44] tangalbert919 commented on #27
You'll have to define who the troll is.

[2017-11-30 18:46] ghost commented on #27
Idisposable

He hates me for no reason whatsoever

True story :D

[2017-12-06 15:21] DrDatch opened #28 "Troubles with floating menu on Russian locale"
Hi there! I found one very annoying thing. Steps for reproduce:

1. Set Russian language
2. Open any link in Google Chrome
3. Try to copy site link by selecting it

Expected result: you can copy, cut, paste text
Actual result: you can only open link in chrome or cut it, for other actions you have to open additional menu

[2017-12-26 05:55] percy-g2 opened #29 "QC8998_O_8.0 branch issue"
QC8998_O_8.0 branch aka OP5
device reboots to bootloader after booting to homescreen in 5 secs.
Attaching first and second boot logs.
[secondboot.txt](https://github.com/OnePlusOSS/android/files/1586665/secondboot.txt)
[firstboot.txt](https://github.com/OnePlusOSS/android/files/1586666/firstboot.txt)

i'm using Oxygen OS 5.0 vendor blobs https://github.com/percy-g2/android_vendor_oneplus_msm8998

[2017-12-26 06:06] percy-g2 commented on #29
I ServiceManager: service 'media.audio_flinger' died
02-11 23:51:05.838   696  1320 W hardware_info: update_hardware_info_msm8998: Not a msm8998 device
02-11 23:51:05.838   696  1320 D msm8974_platform: platform_init: Loading mixer file: /vendor/etc/mixer_paths_tasha.xml
02-11 23:51:05.871   609   609 I ServiceManager: service 'drm.drmManager' died
02-11 23:51:05.885   609   609 I ServiceManager:

[2018-01-11 03:25] ohyeah521 opened #30 "how can i get the source for oneplus 5T"

[2018-01-19 20:29] robbins commented on #15
Is that the only fix? Getting each and every file manually?

Is there no way for ADB root to run, even with ro.debuggable set to 1, and ro.secure to 0?

Or is there a fixed copy of the script somewhere, or a repo for the 5.0.1 OP3T vendor blobs?

Really sucks that OnePlus can't even take the time to have a working GitHub...

[2018-01-21 15:37] robbins commented on #15
For anyone wondering, the solution is to set SELinux to Permissive. There's a Magisk Module to do exactly that. :)

[2018-01-25 17:32] robbins opened #31 "[MSM8996] ninja: error: 'vendor/oneplus/sbin/dashd'"
I'm building OnePlusOSS Oreo for the OP3T aka msm8996 and I get this error:
`ninja: error: 'vendor/oneplus/sbin/dashd', needed by 'out/target/product/msm8996/obj/EXECUTABLES/dashd_intermediates/dashd', missing and no known rule to make it
`

I've got the vendor directory setup with vendor/oneplus in the root of my source tree, I've got the prebuilt.mk, the Android.mk, and Android.bp, as well as th

[2018-03-25 15:52] robbins commented on #31
Selinux to permissive if anyone comes across this.

[2018-03-25 15:52] #31 closed, assigned to nobody

[2018-03-25 19:53] robbins opened #32 "msm8996 8.0 Build Says Encryption Unsuccessful on Boot"
I followed the steps to build for OnePlus3T (msm8996 8.0) and made the factory images and ZIP file.

There was an issue with flashing the images, and an issue with flashing the ZIP, but I got around that.

**I flashed the OTA zip onto my phone, it shows the Android boot animation and then says Encryption Unsuccessful.**

I've tried to factory reset, wipe userdata, format userdata, erase everything

[2018-04-06 08:20] ghost commented on #30
Do your research. Oneplus 5t has Snapdragon 835. What's the codename for that here? QC8998. There's a branch called QC8998. Read the Readme file in the correct branch. Easy. Done.

[2018-04-06 08:23] ghost commented on #16
Yeah, a bunch of references to SD660 - since when does oneplus ever use anything but the 8 series chips? Lol

[2018-04-06 08:25] ghost commented on #5
This issue should be closed.....

[2018-04-06 10:29] ghost commented on #27
They're not going to, the 6 will because it has to but the 3 and 5 won't. Pointless issue. I want treble but it won't happen.

[2018-04-06 10:30] ghost commented on #22
Close thread please

[2018-04-08 03:40] leonfish77101 commented on #32
@NateDev100 , there is one thing I confused that from where you got the OTA package, and which type of the package(incremental/full).
BTW, can you provide the boot up log(especially for the encryption failed part)?

[2018-04-29 20:31] robbins commented on #32
Sorry for seeing your reply so late. I got the OTA zip by using make otapackage -j6, and it was a full package.

I will get the bootup log, which command do you want me to use for that? logcat?  /proc/last_kmsg?

Edit: https://pastebin.com/S7ha0mPz there's a logcat on boot until the decryption unsuccessful message but it might have got cut off. This time I flashed the images directly, but didn't d

[2018-04-30 20:06] robbins commented on #32
@leonfish77101 - So I flashed every image except recovery as I wanted to keep TWRP, (so boot system and userdata) and then booted up the phone while capturing a logcat. Here it is: https://pastebin.com/9kDC8PmL

The last part in the log stopped there while my 3T was still doing the "android" text as boot animation, and even when it said encryption unsuccessful the log didn't progress further.

EDI

[2018-05-10 15:23] ghost commented on #22
@crazybenjy9 The issue is not fixed, because the information must be in the git repo.

[2018-05-17 14:00] namoen0301 opened #33 "Where is OnePlus 6?"
[OnePlus Forum](https://forums.oneplus.com/threads/android-p-beta-and-device-tree-kernel-source-for-oneplus-6.833612/) announced:

But Where is it?

[2018-05-18 14:56] ghost commented on #19
Which key

[2018-05-18 15:53] Luro02 commented on #19
https://source.android.com/devices/tech/ota/sign_builds

[2018-05-25 15:35] ghost commented on #5
Where I can get bootloader source code  for msm8996 (Snapdragon 820)

[2018-05-25 15:42] ItzLevvie commented on #5
@vladut123 OnePlus has said they're not planning to release bootloader codes for their phones.

[2018-05-25 19:00] ghost commented on #5
Security risk. If malware gets hold of it bypassing dm-verity and any other protection is child's play

So I bet they're not allowed to give it out

[2018-05-27 11:18] ghost commented on #5
Please provide bootloader source code for oneplus 3 msm8996

[2018-05-27 11:20] zeletrik commented on #5
@vladut123 Can you speak english dude? The bootloader source is closed. Too much security risk.

[2018-05-27 11:21] ghost commented on #5
Oh come on. Have you not read the previous comments? They're not going to.

On Sun, May 27, 2018, 12:18 PM vladut123 <notifications@github.com> wrote:

[2018-05-29 10:37] ghost commented on #5
Where I can get the msm8996 bootloader source for oneplus 3

[2018-05-29 12:33] ghost commented on #5
@vladut shut the hell up. How long do you think you can keep nagging and the community will be friendly to you?

Go away. Find someone else to bother

[2018-06-02 16:55] mwilky commented on #33
Any update on when the device tree is going to be posted?

[2018-06-04 06:17] anayw2001 commented on #33
when Qualcomm has a presentation in a few weeks, I think

[2018-06-12 06:13] maurisy0 commented on #33
we're itching for the device tree, please OnePlus

[2018-06-12 06:22] ghost commented on #33
Use itchguard

[2018-06-25 21:06] homerjam opened #34 "Possible issue with accelerometer/orientation reported in Chrome"
Hi,

Please see my issue here: https://github.com/aframevr/aframe/issues/3650

Essentially WebVR sites are broken(-ish) since android 8 on 3T, not sure where issue lies exactly but would be great if someone could help rule out an OS issue.

Thanks,
James

[2018-07-04 06:39] HxBreak opened #35 "pull script error"
Something does not exist like
![2018-07-04 14-38-54](https://user-images.githubusercontent.com/15846180/42260698-ffe1f7a2-7f97-11e8-9daf-d67b77a76d92.png)

OnePlus5T H2OS Open 10

`adb: error: remote object '/system/bin/dpmd' does not exist
adb: error: remote object '/system/bin/dun-server' does not exist
adb: error: remote object '/system/bin/qvrservice' does not exist
adb: error: remote object '

[2018-07-04 06:51] HxBreak commented on #35
Does i need to flash a Oxygen ROM?

[2018-07-07 21:09] #35 closed, assigned to nobody

[2018-07-14 19:16] psvtrajan opened #36 "OneplusX source code cannot download."
I am not able  get the source code for oneplus x.
While doing `repo sync` I am getting only source code for oneplus 3.

[2018-07-14 19:43] ItzLevvie commented on #36
Change ```oneplus3/6.0.1``` to ```oneplusX/6.0.1```

[2018-07-14 20:10] psvtrajan commented on #36
Hi @ItzLevvie ,
When changing from oneplus3/6.0.1 to oneplusX/6.0.1 it is showing the following error

fatal: manifest 'default.xml' not available
fatal: remote oneplus not defined in /home/thiyagarajan/linux_source_codes/one/.repo/manifests/default.xml

[2018-07-16 02:00] robbins commented on #33
I'm interested in this too, as Qualcomm has already released the source code for SDM845

[2018-09-12 06:48] Anil-rayala opened #38 "Regarding output of pull_library.sh"
Hi,
Can you please help clarify the below query.
After executing pull_library.sh , a directory named "vendor" is created.
Where should we copy this folder to, in our already synced android source code tree?
 It is written in READ.md that we should copy this to root of the tree but I see there is already a vendor folder existing when code is synced from repo.

[2018-10-02 13:55] SscSPs commented on #38
merge these 2 directories

[2018-10-27 19:58] Uvneshkumar opened #39 "SSH to HTTPS for OnePlus 6 please..!"
Please change SSH to HTTPS for oneplus 6. It gives private key error and sadly I coudn't fix it.

[2018-10-27 20:03] ghost commented on #39
Please read the README

[2018-10-28 06:27] Uvneshkumar commented on #39
Couldn't understand ho to solve that issue. README has nothing related to that

[2018-10-28 06:52] ghost commented on #39
It has everything you need. Read it

[2018-10-28 06:53] ghost commented on #39
Make sure you're reading the README of the correct branch

[2018-11-01 10:14] Uvneshkumar commented on #39
ANNOUNCEMENT
When we launched the OnePlus 3, we started a very interesting tradition, Zero Day sources for our devices. Since then, every device has launched with them.

With the project treble in place, we think the AOSP(Qualcomm) device tree is not as useful or important as it used to be,

based on conversations we had with our dev community and the fact that we have only made few changes on AOS

[2018-11-01 10:34] ghost commented on #39
It says right there that you can go to Qualcomm to get the source

[2018-11-01 12:27] Uvneshkumar commented on #39
It should be little more detailed, how to get it from Qualcomm.

[2018-11-01 12:45] ghost commented on #39
https://wiki.codeaurora.org/xwiki/bin/QAEP/release

[2018-11-01 12:47] ghost commented on #39
Sync the correct tag for your device
Sync the kernel source
Then build

[2018-11-12 12:09] #29 closed, assigned to nobody

[2018-11-30 07:41] HxBreak opened #40 "Oneplus 5T Android P Source Code"
Oneplus 5T Android P Source Code Need

[2018-12-24 12:07] hacker2357 commented on #39
`<remote fetch="ssh://jyg@grease-china.qualcomm.com:29418/" name="grease" review="grease-china.qualcomm.com"/>` is unavailable, it gives an error on platform/vendor/qcom-proprietary/telephony-fwk

[2019-01-12 06:41] lakgarg opened #41 "Cannot initialize OnePlus/9.0.0 branch repo"
While initialising OnePlus/9.0.0 branch repo, am getting an error " manifest 'default.xml' not available"

[2019-01-27 10:44] ghost opened #42 "the display time when after ambient dispay is too short to Unable to read the notification in full,please lengthen it."
主动唤醒后的亮屏时间太短,希望可以适当延长一下.

[2019-02-15 20:12] poshul commented on #39
@anupritaisno1 it sounds like what you are trying to say is that the caf remote should look something like:

` <remote fetch="https://source.codeaurora.org/quic/la/" name="caf" review="codeaurora.org"/>
  <default remote="caf" revision="refs/heads/LA.UM.7.3.r1"/>`

and all of the grease remote projects are unnecessary?
Is that accurate?

[2019-02-28 20:44] piet-delaney commented on #41
Yep, I've dealing with the same problem. The problem with the default.xml is that the
definition of the remote 'onepus' seems to be missing.

[2019-03-02 16:47] TeamFahQ commented on #41
Please fix oneplus

[2019-03-02 19:06] lakgarg commented on #41
OxygenOS isn't open source.

[2019-03-02 19:15] TeamFahQ commented on #41
It seems to be according to this
[https://forums.oneplus.com/threads/oxygenos-is-now-open-source.449198/](url)
It's actually easy enough to edit the default.xml and define oneplus with the correct path. But once I did that, it opened up another issue with several other repos
[https://hastebin.com/xisekodaha.coffeescript](url)
This is because of the following
`  <remote fetch="ssh://jyg@grease-chin

[2019-03-06 22:23] xstefen opened #43 "Error with sync"
Though I am more interested in my devices source, fajita/6T, when attempting to sync the oneplus6/9.0.0 branch I am given:

git@privgit.codeaurora.org: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2019-03-11 19:00] #41 closed, assigned to nobody

[2019-03-18 03:47] TeamFahQ commented on #43
I can confirm. It seems that branch oneplus6/9.0.0 branch has yet to be fully open sourced.

I have found that the sources in oneplus6/9.0.0 branch for the manifest are actually released in open source trees. But the problem is, the paths, urls, repos, etc are not correct. I have fixed them here
[https://github.com/oneplus6t-lz/android/commit/d78b6f53799bf7d813f417cae4eb3aba6e5926ab](url)
But ther

[2019-04-10 10:11] xstefen commented on #43
Dear @OnePlusOSSAdmin ,
Please do not ignore. Patiently awaiting response still.

[2019-04-17 22:06] xstefen commented on #43
Emails, github issues, and forum posts all continue to be ignored. What are you hiding OnePlus?

[2019-04-28 23:48] TeamFahQ commented on #43
I don't think they are listening, or they just don't care. Not only are we missing the 9.0 branch for frameworks/base, but they still haven't uploaded device trees.

[2019-04-29 00:05] xboxfanj commented on #43
They accidentally pushed their private manifest.   They fixed most proprietary projects at https://github.com/OnePlusOSS/android/commit/79918d0d0009ed83db0655ce057a24eeb083ffd2

To fix the remaining issues, change https://github.com/OnePlusOSS/android/blob/oneplus6/9.0.0/default.xml#L3 to `<remote fetch="https://source.codeaurora.org/quic/la/" name="caf" review="codeaurora.org"/>` which will match

[2019-04-30 12:10] xstefen commented on #43
I believe its possible to get privgit access, however when I submitted for it I was denied due to an `@gmail.com` address. Haven't tried again yet. Thanks both for your replies here, at least someone is paying attention ;)

[2019-04-30 13:18] xboxfanj commented on #43
It's only possible to get privgit access if you have a Qualcomm license. In this case though, the code is public anyway.  Privgit is only necessary when tags aren't public yet, such as 855 now or 845 before July last year. Otherwise, public and private are the same.

[2019-04-30 13:22] xstefen commented on #43
Good to know, thanks sir again

[2019-05-01 11:20] TeamFahQ commented on #43
But that still doesn't fix the issue of not having branch 9.0.0 for frameworks/base, or device trees for the oneplus6(T) for that matter.
Do we use the base CAF frameworks/base and build it ourselves from there? But without the API's for OxygenOs, it would just be a base rom.
Should we start another issue thread on the frameworks/base repo to address the missing branch?
How can we start an issue t

[2019-05-01 15:37] xboxfanj commented on #43
I did not realize that.

@leonfish77101 can you take a look?

[2019-05-03 02:04] xstefen commented on #43
Or over a month with zero reply, to email either, which I quote `If there is any advise or question of the released source code, please contact with oss.request@oneplus.com.` so you would at least expect something there.

[2019-05-08 23:30] xstefen commented on #43
#43

[2019-05-14 17:02] xstefen commented on #43
#43

[2019-05-23 06:07] 311303 commented on #43
I can't sync it, can I solve it?

[2019-05-23 06:27] xstefen commented on #43
A bot gives more reply than 1+

[2019-05-23 06:43] 311303 commented on #43
Sorry, what's that?

[2019-05-24 05:54] Jinnrry opened #44 "7pro开源了吗"
如题~~~~~

[2019-05-24 08:15] 311303 opened #45 "请修复一加6源码的问题"
我想把它同步下来，但报错说不能同步权限不足，并且请将设备树传上来

[2019-06-06 21:37] xstefen commented on #43
#43

[2019-06-12 02:20] aaronqiuchiu commented on #44
https://github.com/OnePlusOSS/OpenSourceReleases/wiki
https://github.com/OnePlusOSS/android_kernel_oneplus_sm8150
https://github.com/OnePlusOSS/android_vendor_qcom_opensource_audio_kernel_sm8150

[2019-06-12 02:20] #44 closed, assigned to nobody

[2019-07-17 02:11] xstefen commented on #43
#43 Maybe one of these days we will get an answer. Still waiting on that reply email too....
"If there is any advise or question of the released source code, please contact with oss.request@oneplus.com."
Your company is ridiculous, I learned that with the bacon, I gave you another chance with the 6T despite the terrible history of mistakes and misleading from you, and it continues...

[2019-08-08 04:07] aaronqiuchiu commented on #45
20f0a05dad43f397f64b9c0977bc1caa21eb5224

[2019-08-08 04:07] #45 closed, assigned to nobody

[2019-08-08 04:08] aaronqiuchiu commented on #43
20f0a05dad43f397f64b9c0977bc1caa21eb5224

[2019-08-08 04:08] #43 closed, assigned to nobody

[2019-08-08 04:21] aaronqiuchiu commented on #39
20f0a05dad43f397f64b9c0977bc1caa21eb5224

[2019-08-08 04:21] #39 closed, assigned to nobody

[2019-08-08 04:23] aaronqiuchiu commented on #33
https://github.com/OnePlusOSS/android_kernel_oneplus_sdm845

[2019-08-08 04:23] #33 closed, assigned to nobody

[2019-08-19 14:59] kkuehl opened #46 "Can we have the branch for the OnepPlus 7 Pro Please"
The nearest available is repo init -u git://github.com/OnePlusOSS/android.git -b oneplus6/9.0.0
which can finally be properly downloaded.
Lunch only shows the 47. sdm845-userdebug
and we need the sdm855

Thanks in advance!

[2019-09-28 11:26] Jinnrry opened #47 "1+7pro 氧os系统，屏幕录像会导致系统崩溃"
[https://stackoverflow.com/questions/58144548/why-multiple-screenshots-caused-the-system-to-crash-on-android?noredirect=1#comment102674912_58144548](https://stackoverflow.com/questions/58144548/why-multiple-screenshots-caused-the-system-to-crash-on-android?noredirect=1#comment102674912_58144548)

测试了3个手机，10多个虚拟机，只有在氧os(没测试氢OS)上面会造成系统崩溃

[2019-09-29 02:25] Jinnrry commented on #47
氧9.5.11 系统

[2019-11-09 04:28] dennisfong86 opened #48 "etc/sysconfig/qti_whitelist.xml"
In the **qti_whitelist.xml**,

It should be "**qualcomm**" not "**qulacomm**"

This exists in the Android 9 and Android 10. I really do hope that OnePlus dev team is looking at the feedback.

https://forums.oneplus.com/threads/etc-sysconfig-qti_whitelist-xml.1001758/

[2019-11-16 06:11] 311303 opened #49 "[Oneplus6]Unable to compile!"
`error: vendor/oneplus/Android.bp:1:1: module "libbtif_qti" variant "android_arm64_armv8-a_kryo300_core_static": module source path vendor/oneplus/lib64/libbtif_qti.a does not exist`
What should I do..pls

[2019-11-17 02:47] 311303 commented on #49
Now a new problem!!
ninja:error 'gensecimage_target',needed by 'aboot',missing and no known rule to make it???

[2019-12-02 07:39] #15 closed, assigned to nobody

[2020-01-15 09:11] linkinlzm commented on #49
HAVE the same problem!
error: vendor/oneplus/Android.bp:1:1: module "libbtif_qti" variant "android_arm64_armv8-a_kryo300_core_static": module source path vendor/oneplus/lib64/libbtif_qti.a does not exist

[2020-01-15 09:15] 311303 commented on #49
Still not solved😂

[2020-04-12 10:35] sxravan opened #50 "[OxygenOS] 9.0.4 - Incorrect swappiness value / Frequent lag on Oneplus 5"
Hello,

I have rooted my OnePlus with with OxygenOS 9.0.4. I was navigating through all files and found that the value for the swappiness is 100.

[code]

To be noted that swappiness is the value which affects how aggressively a Linux system should use swap. 100 => always use swap, 0=> swap, but less aggressively.

Can you please add the value of 0 as default for your future OxygenOS release ?

I

[2020-04-12 10:37] sxravan commented on #50
With the .bashrc fix, my swappiness is always 0.

[code]
Is there any way to persist this change? On Linux platforms (servers, desktop), the change can be persisted in /etc/sysctl.conf, is there an equivalent for OxygenOS ?

Regards,
Shravan

[2020-04-12 10:46] vaahi commented on #50
I did the same thing and wowwwwwwwwwwwwwwwwwww no more lags now :) My oneplus works perfectly fine ^^

[2020-04-12 14:00] GirishMahabir commented on #50
Only got positive results till now!!
Working just fine.

[2020-05-04 21:51] #40 closed, assigned to nobody

[2020-06-08 17:44] umerov1999 opened #51 "Oneplus 5 compile source"
How to compile 10 android for oneplus 5 Cheeseburger?

[2022-04-16 08:19] timkoers opened #55 "OnePlus 6T Oxygen OS 12 source code"
Unfortunately the OnePlus 6 and 6T will not receive any new updates.

An idea sprung to my mind. How about official OnePlus community software releases?

That way the OnePlus 6/6T devices will still have updates, through their regular updater, but those updates are made and maintained by the community.

I do not know the ins and outs of your ecosystem but I'm sure there is a way to do so.

[2022-07-13 13:52] varunpilankar commented on #55
Great idea! Something similar is being maintained by ASOP / PixelExperience Team & few other pure android community groups... You should try checking them out.

I doubt the OnePlus Team is even looking back on the old devices.

They expect us to happy with kernel codes and make your own ROMs.

[2022-08-26 14:32] yunoyunoyunoyuno opened #56 "Kernel sources missing for Oneplus 10T (SM8475)"
The kernel sources for the OnePlus 10T with the SM8475 chipset are missing. Failing to publish the source code violates the GPL.

[2022-08-26 14:34] yunoyunoyunoyuno commented on #56
@OnePlusOSSAdmin

[2022-09-02 06:48] OnePlusOSSAdmin commented on #56
Please check following repo:
https://github.com/OnePlusOSS/android_kernel_oneplus_sm8475
https://github.com/OnePlusOSS/android_kernel_modules_and_devicetree_oneplus_sm8475

[2022-09-03 12:14] yunoyunoyunoyuno commented on #56
Ok, closed. Next time, please act more quickly ^-^

[2022-09-03 12:14] #56 closed, assigned to nobody